{% extends "base.html.twig" %}

{% block body %}
	<a class="btn btn-light" href="/">Back to Todos</a>
	<hr>
	<h2 class="page-header pb-3">{{ todo.name }}</h2>
	<ul class="list-group">
		<li class="list-group-item">Category: {{ todo.category}}</li>
		<li class="list-group-item">Priority: {{ todo.priority}}</li>
		<li class="list-group-item">
		Due: <strong>{{ todo.dueDate|date('F j, Y, g:i a') }}</strong>
		</li>
	</ul>
	<div class="pt-3 pl-3">
		<span>
			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
				<path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
			</svg>
		</span>
		<span><i>{{ todo.description}}</i></span>
	</div>

{% endblock %}
